[submodule "2.InitialAccess/sqlmap"]
	path = 2.InitialAccess/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "2.InitialAccess/dirsearch"]
	path = 2.InitialAccess/dirsearch
	url = https://github.com/maurosoria/dirsearch.git
